@charset "ISO-8859-1";

.stadfesta2 {
	width: 200px;
	background-color: #4CAF50;
	color:white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin:auto;
    display:block;
}

